{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" , action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    <label for = "email" class="form-control-label">Email</label>
                    <input type="text" class="form-control form-control-lg" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for = "pass" class="form-control-label">Password</label>
                    <input type="password" class="form-control form-control-lg" id="pass" name="password">
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="rem" name="remember_me">
                    <label for = "rem" class="form-check-label">Remember Me</label>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info" value="Login">
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forget Password?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{{url_for('users.register')}}">Sign Up Now </a>
        </small>
    </div>
{% endblock content %}


