{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" , action="" , id="regForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>      <!-- class = "is-invalid"-->
                <div class="form-group">
                    <label for = "uname" class="form-control-label">Username</label>
                    <input type="text" class="form-control form-control-lg" onfocusout="checkUsername()" id="uname" name="username" required>
                    <div id="invalid_username" class="invalid-feedback">
                        <span class="text-danger">Username is already taken.Please choose another one!!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for = "email" class="form-control-label">Email</label>
                    <input type="email" class="form-control form-control-lg" onfocusout="checkEmail()" id="email" name="email" required>
                    <div id="invalid_email" class="invalid-feedback">
                        <span class="text-danger">Email is already taken.Plaese choose another one</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for = "pass" class="form-control-label">Password</label>
                    <input type="password" class="form-control form-control-lg" id="pass" name="password" required>
                    <div class="invalid-feedback">
                        <span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for = "cpass" class="form-control-label">Confirm Password</label>
                    <input type="password" class="form-control form-control-lg" id="cpass" name="confirm_password" onfocusout="comparePassword()" required>
                    <div id = "invalid-cpass" class="invalid-feedback">
                        <span class="text-danger">Passwords doesn't match!!</span>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info" value="Submit">
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{url_for('users.login')}}">Sign In </a>
        </small>
    </div>
{% endblock content %}